
.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 80px;					
    height: 50px;					
    padding: 1px;				
    font: 8px Arial, sans-serif;		
    background: lightgray;	
    border: 0px;		
    border-radius: 3px;			
    pointer-events: none;			
  }

.shot-chart-court *{fill:transparent;stroke:#333;stroke-width:0.1}.shot-chart-court-ft-circle-bottom{stroke-dasharray:10, 4}.shot-chart-court-hoop,.shot-chart-court-backboard{z-index:100}.shot-chart-title{font-size:15%;text-transform:uppercase}.legend text{font-size:4%}